.listView {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.watermark {
  margin-block: auto;
  align-self: center;
  color: var(--color-text-light)
}
